@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-color {
    @apply dark:text-gray-300;
  }
  body {
    @apply dark:bg-slate-900 h-screen w-full flex items-center justify-center;
  }
  #__next {
    @apply w-full h-full;
  }
  .navbar {
    @apply text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700;
  }
  .navbar-item {
    @apply inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300;
  }
  .navbar-item-active {
    @apply inline-block p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
